@import url('https://fonts.googleapis.com/css2?family=Bpmf+Iansui&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bpmf Iansui", cursive;
  font-weight: 400;
  font-style: normal;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgb(1, 1, 41);
    color: white;
    align-items: center;
    font-family: "Bpmf Iansui", cursive;
    font-weight: 400;
    font-style: normal;
}
.links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.links a:hover{
    color: aqua;
}
h1 a{
    text-decoration: none;
    color: white;
}
.links a{
    text-decoration: none;
    color: white;
}